[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "3.8.1"
django = "5.1.1"
sqlparse = "0.5.1"
pillow = "10.4.0"
flower = "2.0.1"
celery = "5.4.0"
stripe = "*"
redis = "10.9.0"
django-rosetta = "0.10.0"
django-parler = "2.3"
django-localflavor = "4.0"
django-environ = "0.11.2"
psycopg2-binary = "2.9.9"
weasyprint = "62.3"

[dev-packages]

[requires]
python_version = "3.12"
